body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

input, textarea, button {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background: #111;
  color: white;
  border: none;
}